function Bat.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push constant 2
pop this 4
push pointer 0
call Bat.show 1
pop temp 0
push pointer 0
return
function Bat.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bat.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Bat.draw 1
pop temp 0
push constant 0
return
function Bat.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Bat.draw 1
pop temp 0
push constant 0
return
function Bat.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bat.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Bat.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Bat.getRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
return
function Bat.setWidth 0
push argument 0
pop pointer 0
push pointer 0
call Bat.hide 1
pop temp 0
push argument 1
pop this 2
push pointer 0
call Bat.show 1
pop temp 0
push constant 0
return
function Bat.move 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
if-goto if_d48b830e32124893bf328c0276ad5e3e_body
goto if_d48b830e32124893bf328c0276ad5e3e_else
label if_d48b830e32124893bf328c0276ad5e3e_body
push this 0
push constant 4
sub
pop this 0
push this 0
push constant 0
lt
if-goto if_bd818c010dfb65a18a8599fa34cd0aa9_body
goto if_bd818c010dfb65a18a8599fa34cd0aa9_else
label if_bd818c010dfb65a18a8599fa34cd0aa9_body
push constant 0
pop this 0
goto if_bd818c010dfb65a18a8599fa34cd0aa9_end
label if_bd818c010dfb65a18a8599fa34cd0aa9_else
label if_bd818c010dfb65a18a8599fa34cd0aa9_end
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
add
push this 1
push this 0
push this 2
add
push constant 4
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
goto if_d48b830e32124893bf328c0276ad5e3e_end
label if_d48b830e32124893bf328c0276ad5e3e_else
push this 0
push constant 4
add
pop this 0
push this 0
push this 2
add
push constant 511
gt
if-goto if_90ac48b9951940a4efd5dd45b08ed122_body
goto if_90ac48b9951940a4efd5dd45b08ed122_else
label if_90ac48b9951940a4efd5dd45b08ed122_body
push constant 511
push this 2
sub
pop this 0
goto if_90ac48b9951940a4efd5dd45b08ed122_end
label if_90ac48b9951940a4efd5dd45b08ed122_else
label if_90ac48b9951940a4efd5dd45b08ed122_end
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
sub
push this 1
push this 0
push constant 1
sub
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 3
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
label if_d48b830e32124893bf328c0276ad5e3e_end
push constant 0
return